th{
  color: cyan;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Karma', serif;
  background-color: black;
}

h1 {
  color: #66BFBF;
  font-size: 72px;
  margin: 50px auto 0 auto;
  font-family: 'Rock Salt', handwriting;
}

h2 {
  color: #66BFBF;
  font-family: 'Pattaya', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Pattaya', sans-serif;
  font-size: 30px;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Karma', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.Hi{
  color: #66BFBF;
  position: absolute;
  top: 50px;
  font-size: 40px;
  font-family: 'Rock Salt', handwriting;
}

.icon-img{
  height: 30px;
  width: 30px;
}

.icon{
  height: 90%;
  width: 60%;
}

.top-layout {
  background-color: #222831;
  position: relative;
  padding-top: 100px;
}

.middle-layout {
  background-color: #f6f578;
}

.bottom-layout {
  background-color: #721b65;
  padding: 50px 0 20px;
}

.skill-row-left {
  width: 75%;
  left: 100px;
  margin: 50px;
  text-align: left;
}

.skill-row-right {
  width: 75%;
  right: 100px;
  margin: 50px 200px;
  text-align: right;
}

.nick {
  text-decoration: underline;
  font-family: 'Libre Barcode 39', display;
  font-size: 40px;
  color: white;
}

.opportunity{
  font-family: Covered By Your Grace, handwriting;
}

.intro {
  width: 55%;
  font-size: 20px;
  margin: auto;
}

.contact-txt {
  width: 35%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.code-img, .vector-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coding-img, .kobe-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.kobe-img{
  height: 250px;
  width: 175px;
}

.design-txt, .sell-txt, .coding-txt, .hobby-txt{
  font-size: 18px;
}

.intro-link{
  font-size: 18px;
}

.profile-img{
  height: 300px;
  width: 300px;
}

.contact-link {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Karma', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-link:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: underline;
}
