@font-face {
        font-family: tulisan_keren;
        src: url(coolvetica.ttf);
}
@font-face {
        font-family: point;
        src: url(sunflower.otf);
}
body {
	background-color: #1b1b2f;
	}
hr{
	color: #30475e;
	border-top-style: dotted;
	border-bottom-style: none;
	border-width: 3px;
	width: 50%;
	}
table, th, td {
  	border-collapse: collapse;
	}
th, td {
  	padding:8px;
  	color: white;
	}
td{
	font-family: ARIAL;
}
h2{
	color: #035aa6;
	font-family: 'point';
	}
/*************************Class*************************/
.Name{
	color: cyan;
	font-family: 'tulisan_keren';
	font-variant: inherit;
}
.Contact:hover{
	background-color: #6886c5;
}
/*************************ID*************************/
#Foto:hover{
	background-color: #6886c5;
}